
language: node_js

dist: trusty

sudo: required

node_js:
  - '6'

env:
  - TARGET_OS=linux
    TARGET_ARCH=ia32
  - TARGET_OS=linux
    TARGET_ARCH=x64
  - TARGET_OS=linux
    TARGET_ARCH=armv7l
  - TARGET_OS=mac

before_deploy:
  - bash sh/ci/travis/before-deploy.sh

before_script:
  - chmod -R +x sh

deploy:
  provider: releases
  api_key: $GITHUB_RELEASE_OAUTH
  skip_cleanup: true
  file_glob: true
  file:
    - dist/*.*
    - dist/linux/*.*
    - dist/mac/*.7z
    - dist/mac/*.zip
    - dist/win/*.*
  on:
    tags: true
