
language: node_js

dist: trusty

sudo: required

node_js:
  - '6'

before_script:
  - chmod -R +x sh

before_deploy:
  - bash addons/main.sh
  - OPTIONS="linux mac ia32 x86 armv7l $OPTIONS" npm run pack
  - ls dist/{,linux,mac} || true

deploy:
  provider: releases
  api_key: $GITHUB_RELEASE_OAUTH
  skip_cleanup: true
  file_glob: true
  file:
    - dist/*.*
    - dist/linux/*.*
    - dist/mac/*.7z
    - dist/mac/*.zip
    - dist/win/*.*
  on:
    tags: true
