branches:
  except:
    - gh-pages

environment:
  OPTIONS: publish=never
  TARGET_OS: windows
  nodejs_version: 7
  matrix:
    - TARGET_ARCH: ia32
    - TARGET_ARCH: x64

cache:
  - '%USERPROFILE%\.nuget\packages'
  - '%APPDATA%\npm'
  - '%APPDATA%\npm-cache'
  - '%APPDATA%\yarn'
  - '%APPDATA%\yarn-cache'
  - node_modules

image: Visual Studio 2015

clone_folder: C:\Projects\Main

clone_depth: 1

install:
  - cmd: echo "Repo URL" && git remote get-url origin
  - cmd: dir
  - ps: powershell sh/ci/appveyor/install.ps1
  - cmd: yarn install

test_script:
  - cmd: echo "NodeJS version" && node --version
  - cmd: echo "Yarn version" && yarn --version
  - cmd: echo "Test" && yarn test

build_script:
  - cmd: bash sh/ci/appveyor/build.sh
  - cmd: dir

artifacts:
  - path: dist\*.*
  - path: dist\win\*.*

deploy:
  - provider: GitHub
    draft: false
    prerelease: false
    auth_token: $(GITHUB_RELEASE_OAUTH)
    on:
      appveyor_repo_tag: true
